
@import "./fonts.css";

.homeScreen{
    width: 1280px;
    height: 720px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper{
    width: 1280px;
    height: 720px;
}

.square-row{
    display: flex;
}

.game{
    width: 268px;
    height: 268px;
    background-color: green;
}