@import "./fonts.css";

.bottomMenuPhoto{
    height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 804px;
}

@media (max-height: 800px) and (min-height: 700px) {

}