@import "./fonts.css";

.photoScreen{
    width: 1000px;
    height: 1000px;
    background-color: red;
}
.backgroundImage{
}
.bottomMenuPhoto{
    height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

@media (max-height: 800px) and (min-height: 700px) {

}