
@import "./fonts.css";

.homeScreen{
    width: 1280px;
    height: 720px; 
    display: flex;
  justify-content: center;
  align-items: center;
}

.wallpaper{
    width: 1920px;
    height: 1080px;
}