
@import "./fonts.css";

@media (max-height: 800px) and (min-height: 700px) {
    .albumTopMenuSettings {
        background-color: #F0F0F0;
        width: 100%;
    }
    .albumTopMenuRow{
        display: flex;
        align-items: center;
        height: 114px;
        background-color: #F0F0F0;
    }

    .albumMiddleMenuSettings{
        background-color: blue;
    }

    .albumBottomMenuSettings{
        background-color: green;
    }
    .albumDivider {
        height: 2px;
        margin-left: 80px;
        margin-right: 80px;
        background-color: #8B8B8B;
        justify-content: center;
    }
}