
@import "./fonts.css";

/* Set the container to relative positioning */
.homeScreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  
  /* Set the image to cover the entire container */
  .wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the whole area */
    z-index: -1; /* Send the image to the background */
  }
  
  /* Row of squares */
  .square-row {
    display: flex;
    justify-content: space-between; /* Space the squares evenly */
    position: relative; /* Ensure it's positioned on top of the image */
    width: 100%; 
    height: 460px; /* Adjust the height of the row */
    z-index: 1; /* Ensure the row stays above the image */
    top: 50%; /* Vertically center the row */
    transform: translateY(-340px); /* Adjust the top positioning for perfect centering */
    margin-left: 80px;
    gap: 32px;
  }
  
  /* Individual squares */
  .game {
    flex-shrink: 0;
    width: 360px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.2); /* Add some transparency */
    backdrop-filter: blur(15px); /* Apply the blur effect to the background */
    transition: all 0.3s ease; /* Smooth transition when selecting */
    display: flex; /* Enable Flexbox */
        justify-content: center; /* Horizontally center the image */
        align-items: center; /* Vertically center the image */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a soft shadow */
  }

  /* Selected game styles */
.game.selected {
    width: 440px; /* Increase the size of the selected game */
    height: 440px;
    transform: translateY(-60px);
  }
  
  .game-name {
    position: absolute;
    font-family: "Nintendo Switch UI";
    white-space: nowrap; /* Ensure the text stays on one line */
    left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Ensure centering within its container */
    height: 100px;
    top: -100px;
    width: 600px;
    
  }

  .game-name-text{
    color: #43D6DF;
    font-size: 36px;
    text-align: center;
  }
  .game-image {
    width: 92%;
    height: 92%;
    object-fit: cover; /* Ensure the image covers the entire div */
  }
  .game-image {
    opacity: 0.5; /* Make the image 50% opaque */
    transition: opacity 0.3s ease; /* Smooth transition for the opacity change */
  }
  
  /* Selected game's image (full opacity) */
  .game.selected .game-image {
    opacity: 1; /* Full opacity for the selected game's image */
  }

  .profileIconContainer{
    display: flex;
    flex-direction: column; /* Ensure the number and image are stacked vertically */
    align-items: center; /* Center the number and image horizontally */
    width: 64px;
    margin-left: 80px;
  }

  .imageProfile{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid #43D6DF;
    margin-top: -24px;
  }

  .profileFriends{
    font-family: "Nintendo Switch UI";
    font-size: 24px;
    color: #43D6DF
  }

  .circle-row{
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-top: 96px;
  }

  .icons{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3); /* Add some transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a soft shadow */
    backdrop-filter: blur(15px);
  }

  .iconRowCircle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3); /* Add some transparency */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .iconRowImage{
    width: 48px;
    height: 48px;
  }

  .iconRowImage2{
    width: 52px;
    height: 52px;
    margin-left: 4px;
    margin-top: 4px;
  }
  
  
.selectedIcon {
  position: relative;
}

.selectedIcon::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100%);
  height: calc(100%);
  border: 4px solid #43D6DF;
  border-radius: 50%;
  pointer-events: none;
}

  .bottomMenu{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 72px;
  }

  .lineDivider{
    height: 2px;
    width:auto;
    background-color: #ffffff;
  }

  .iconSwitchLight{

  }

  .bottomMenuRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
  }

  .bottomMenuRowIcons{
    width: 400px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .iconA{
    width: 36px;
    height: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .iconOptions{
    width: 36px;
    height: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .bottomMenuRowText{
    font-family: "Nintendo Switch UI";
    color: white;
    font-size: 26px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
  }

  .marginRight20{
    margin-right: 20px;
  }

  .marginLeft84{
    margin-left: 84px;
  }

  @media (max-height: 800px) and (min-height: 700px) 
  {
    .game {
        flex-shrink: 0;
        width: 306px;
        height: 306px;
        background-color: rgba(255, 255, 255, 0.3); /* Add some transparency */
        backdrop-filter: blur(15px); /* Apply the blur effect to the background */
        transition: all 0.3s ease; /* Smooth transition when selecting */
        display: flex; /* Enable Flexbox */
        justify-content: center; /* Horizontally center the image */
        align-items: center; /* Vertically center the image */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a soft shadow */
      }
    
      /* Selected game styles */
    .game.selected {
        width: 380px; /* Increase the size of the selected game */
        height: 380px;
        transform: translateY(-60px);
      }
      .game-name-text{
        color: #43D6DF;
        font-size: 32px;
        text-align: center;
      }
      .game-name {
        position: absolute;
        font-family: "Nintendo Switch UI";
        white-space: nowrap; /* Ensure the text stays on one line */
        left: 50%; /* Center the text horizontally */
        transform: translateX(-50%); /* Ensure centering within its container */
        height: 100px;
        top: -80px;
        width: 600px;
      }
      .square-row {
        display: flex;
        justify-content: space-between; /* Space the squares evenly */
        position: relative; /* Ensure it's positioned on top of the image */
        width: 100%; 
        height: 360px; /* Adjust the height of the row */
        z-index: 1; /* Ensure the row stays above the image */
        top: 50%; /* Vertically center the row */
        transform: translateY(-280px); /* Adjust the top positioning for perfect centering */
        margin-left: 80px;
        gap: 32px;
      }
      .game-image {
        width: 92%;
        height: 92%;
        object-fit: cover; /* Ensure the image covers the entire div */
      }
      .game-image {
        opacity: 0.5; /* Make the image 50% opaque */
        transition: opacity 0.3s ease; /* Smooth transition for the opacity change */
      }
      
      /* Selected game's image (full opacity) */
      .game.selected .game-image {
        opacity: 1; /* Full opacity for the selected game's image */
      }
      .circle-row{
        display: flex;
        gap: 28px;
        justify-content: center;
        margin-top: 96px;
        height: 1px;
      }
    
      .icons{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3); /* Add some transparency */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a soft shadow */
        backdrop-filter: blur(15px);
      }
    
      .iconRowCircle{
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3); /* Add some transparency */
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
        backdrop-filter: blur(15px);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    
      .iconRowImage{
        width: 40px;
        height: 40px;
      }
    
      .iconRowImage2{
        width: 48px;
        height: 48px;
        margin-left: 4px;
        margin-top: 4px;
      }
      
      
    .selectedIcon {
      position: relative;
    }
    
    .selectedIcon::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      width: calc(100%);
      height: calc(100%);
      border: 4px solid #43D6DF;
      border-radius: 50%;
      pointer-events: none;
    }
    .bottomMenu{
      margin-left: 80px;
      margin-right: 80px;
      height: 1px;
      margin-top: 108px;
    }
  
    .lineDivider{
      height: 2px;
      width:auto;
      background-color: #ffffff;
    }
  
    .iconSwitchLight{
      width: 84px;
      height: 52px;
      margin-top: 16px;
    }
    .bottomMenuRow{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4px;
    }
    .iconA{
      width: 28px;
      height: 28px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  
    .iconOptions{
      width: 28px;
      height: 28px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  
    .bottomMenuRowText{
      font-family: "Nintendo Switch UI";
      color: white;
      font-size: 22px;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    }
    
}
@media (max-height: 920px) and (min-height: 800px) 
{
  .lineDivider{
    height: 2px;
    width:auto;
    background-color: white;
  }
  .square-row {
    transform: translateY(-320px); /* Adjust the top positioning for perfect centering */
  }
  .circle-row{
    margin-top: 72px;
  }
}
  
  
  
  
  