
@import "./fonts.css";

@media (max-height: 800px) and (min-height: 700px) {
    .topMenuSettings{
        background-color: red;
    }
    .topMenuRow {
        display: flex;
        align-items: center;
        background-color: #F0F0F0;
        height: 114px;
    }
}