@import "./fonts.css";

.photoScreen{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.backgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the whole area */
    z-index: -1; /* Send the image to the background */
}
.bottomMenuPhoto{
    height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 808px;
}
.bottomMenuRowPhoto{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    height: 80px;
}

.iconSwitchLight{
    width: 96px;
    height: 44px;
}

.icon{
    width: 36px;
    height: 36px;
}

.iconAPhoto{
    margin-left: 84px;
    margin-right: 20px;
    width: 36px;
    height: 36px;
}
.iconBPhoto{
    margin-right: 20px;
    width: 36px;
    height: 36px;
    margin-left: 84px;
}
.bottomMenuRowPhotoText{
    font-family: "Nintendo Switch UI";
    color: white;
    font-size: 26px;
}

.bottomMenuPhotoTextIcons{
    display: flex;
    align-items: center;
}

@media (max-height: 800px) and (min-height: 700px) {

}