
@import "./fonts.css";

.settingsScreen{
    
}

.topMenuSettings{
    width: 100%;
    height: 142px;
    background-color: blue;
}

.topMenuRow{
    display: flex;
    align-items: center;
}

.bottomMenuSettings{
    width: 100%;
    height: 118px;
    background-color: #F0F0F0;
}

.middleMenuSettings{
    display: flex;
}

.leftMenuSettings{
    width: 25%;
    height: 690px;
    background-color: #F5F5F5;
}

.rightMenuSettings{
    width: 75%;
    height: 690px;
    background-color: #F0F0F0;
}

.iconBrightnessLight{
    width: 66px;
    height: 66px;
}

.headingText{
    font-size: 34px;
    font-family: "Nintendo Switch UI";
}

.marginRight28{
    margin-right: 28px;
}

.marginLeft108{
    margin-left: 108px;
}

.divider{
    height: 3px;
    width: 95%;
    background-color: red;
    justify-content: center;
}

@media (max-height: 800px) and (min-height: 700px) 
{

}