@import "./fonts.css";

.bottomMenuPhoto{
    height: 112px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    margin-bottom: 4px;
}

@media (max-height: 800px) and (min-height: 700px) {

}