
    @import "./fonts.css";

    .topMenuSettings{
        width: 100%;
        background-color: #F0F0F0;
    }

    .topMenuRow{
        display: flex;
        align-items: center;
        background-color: #F0F0F0;
        height: 142px;
    }

    .bottomMenuSettings{
        width: 100%;
        height: 116px;
        background-color: #F0F0F0;
    }

    .middleMenuSettings{
        display: flex;
    }

    .leftMenuSettings{
        width: 32%;
        height: 690px;
        background-color: #F5F5F5;
    }

    .rightMenuSettings{
        width: 68%;
        height: 690px;
        background-color: #F0F0F0;
    }

    .iconBrightnessLight{
        width: 66px;
        height: 66px;
    }

    .headingText{
        font-size: 34px;
        font-family: "Nintendo Switch UI";
    }

    .marginRight28{
        margin-right: 28px;
    }

    .marginLeft108{
        margin-left: 108px;
    }

    .divider{
        height: 2px;
        margin-left:48px;
        margin-right: 48px;
        background-color: #bababa;
        justify-content: center;
    }

    .subheadingText{
        font-family: "Nintendo Switch UI";
        font-size: 30px;
    }

    .bottomMenuSettings{
        z-index: 1;
        position: absolute;
    }
    .selectedOption {
        width: 432px;
        height: 94px;
        background-color: #FFFFFF;
        border: 6px solid #43D6DF;
        display: flex; /* Use flexbox to align the blue line and text horizontally */
        align-items: center; /* Vertically center the items inside */
        margin-left: 122px;
    }
    .unselectedOption{
        margin-left: 160px;
        display: flex; /* Use flexbox to align the blue line and text horizontally */
        align-items: center; /* Vertically center the items inside */
    }
    .selectedOptionSub{
        display: flex;
        align-items: center;
        height: 72px;
    }
    .marginLeft8{
        margin-left: 8px;
    }

    .marginRight16{
        margin-right: 18px;
    }

    .marginLeftselectedOption{
        margin-left: 88px;
    }

    .spacer{
        width: 4px;
        height: 32px;
        background-color: #F5F5F5;
    }

    .square {
        width: 432px;    /* Set the width of the square */
        height: 2px;   /* Set the height of the square */
        background-color: #bababa; /* You can change the color of the square */
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 128px;
    }

    .selectedOptionLine{
        height: 72px;
        width: 6px;
        background-color: #0047FF;
    }

    .themeLine{
        height: 2px;
        width: 1056px;
        margin-left: 144px;
        background-color: #bababa;
    }

    .themeRow{
        display: flex;
        align-items: center;
        background-color: red;
        height: 88px;
    }

    .themeWhiteRectangle{
        width: 138px;
        height: 82px;
        background-color: white;
        border: 3px solid #B3B3B3;
    }

    .themeBlackRectangle{
        width: 138px;
        height: 82px;
        background-color: black;
        border: 3px solid #3C3C3C;
    }

    .marginLeft174{
        margin-left: 174px;
    }

    .marginTop32{
        margin-top: 16px;
    }

    .marginTop64{
        margin-top: 64px;
    }
    
    .iconCheckMark{
        width: 48px;
        height: 48px;
        margin-left: 600px;
    }

    .themeRowSelected{
        display: flex;
        align-items: center;
        width: 1056px;
        height: 144px;
    }
    .themeRowNotSelected{
        display: flex;
        align-items: center;
        width: 1056px;
        height: 144px;
    }

    .marginLeft144{
        margin-left: 144px; 
    }

    .marginLeft32{
        margin-left: 32px;
    }

    @media (max-height: 800px) and (min-height: 700px) 
    {
        .headingText{
            font-size: 28px;
            font-family: "Nintendo Switch UI";
        }
        .subheadingText{
            font-family: "Nintendo Switch UI";
            font-size: 24px;
        }
        .iconBrightnessLight{
            width: 52px;
            height: 52px;
        }
        .leftMenuOptions{
            margin-left: 0px;
            margin-top: 0px;
        }
        .marginRight28{
            margin-right: 20px;
        }
        
        .marginLeft108{
            margin-left: 84px;
        }
        .topMenuRow{
            display: flex;
            align-items: center;
            background-color: #F0F0F0;
            height: 114px;
        }
        .bottomMenuSettings{
            width: 100%;
            height: 86px;
            background-color: #F0F0F0;
        }
        .leftMenuSettings{
            width: 35%;
            height: 574px;
            background-color: #F5F5F5;
        }
        
        .rightMenuSettings{
            width: 65%;
            height: 574px;
            background-color: #F0F0F0;
        }

        .marginLeft124{
            margin-left: 124px;
        }

        .selectedOption {
            width: 342px;
            height: 72px;
            background-color: #FFFFFF;
            border: 6px solid #43D6DF;
            display: flex; /* Use flexbox to align the blue line and text horizontally */
            align-items: center; /* Vertically center the items inside */
            margin-left: 88px;
        }
        .unselectedOption{
            margin-left: 122px;
            display: flex; /* Use flexbox to align the blue line and text horizontally */
            align-items: center; /* Vertically center the items inside */
        }
        
        .selectedOptionSub{
            display: flex;
            align-items: center;
            height: 72px;
        }

        .selectedOptionLine{
            height: 56px;
            width: 4px;
            background-color: #0047FF;
        }

        .marginLeft8{
            margin-left: 8px;
        }

        .marginRight16{
            margin-right: 16px;
        }

        .marginLeftselectedOption{
            margin-left: 88px;
        }

        .spacer{
            width: 4px;
            height: 32px;
            background-color: #F5F5F5;
        }
    
        .square {
            width: 56%;    /* Set the width of the square */
            height: 2px;   /* Set the height of the square */
            background-color: #C0C0C0; /* You can change the color of the square */
            margin-left: 122px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        .marginTop64{
            margin-top: 50px;
        }
        .themeLine{
            height: 2px;
            width: 764px;
            margin-left: 116px;
            background-color: #bababa;
        }
        .marginLeft144{
            margin-left: 116px;
        }
        .iconCheckMark{
            width: 40px;
            height: 40px;
            margin-left: 300px;
        }
        .themeWhiteRectangle{
            width: 108px;
            height: 64px;
            background-color: white;
            border: 3px solid #B3B3B3;
        }
    
        .themeBlackRectangle{
            width: 108px;
            height: 64px;
            background-color: black;
            border: 3px solid #3C3C3C;
        }
        .themeRowSelected{
            display: flex;
            align-items: center;
            width: 1056px;
            height: 116px;
        }
    }