@import "./fonts.css";

.backgroundImage{
    height: 100vh;
    width: 100%;
}
.bottomMenuPhoto{
    height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

@media (max-height: 800px) and (min-height: 700px) {

}