
@import "./fonts.css";

@media (max-height: 800px) and (min-height: 700px) {
    .albumTopMenuSettings {
        background-color: #F0F0F0;
        width: 100%;
    }
    .albumTopMenuRow{
        display: flex;
        align-items: center;
        height: 112px;
        background-color: #F0F0F0;
        margin-bottom: 2px;
    }

    .albumMiddleMenuSettings{
        background-color: blue;
        height: 564px;
    }

    .albumBottomMenuSettings{
        width: 100%;
        height: 94px;
        background-color: #F0F0F0;
    }
    .albumDivider {
        height: 2px;
        margin-left: 80px;
        margin-right: 80px;
        background-color: #8B8B8B;
        justify-content: center;
    }
    .iconAlbumDark{
        height: 40px;
        width: 52px;
    }
    .albumHeadingText{
        margin-top: 32px;
    }
}